// Define variables for your color scheme

// For example:
$red: #CF1B1B;
$dark-red: #970747;
$blue: #008891;
$dark-blue: #0F3057;
$yellow: #F9CE00;
$orange: #D65F00;
$green: #0E9577;
$gray: #AAAAAA;
$light-gray: #EFEFEF;
$white: white;
